<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">

        <!-- LoginActivity -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <!-- WebViewActivity  -->
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <!-- ProductActivity  -->
        <activity
            android:name=".activity.ProductActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <!-- SignupActivity  -->
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
    </application>
</manifest>